.chat{
    justify-content: center;
    align-content: center;
    margin: 50px;
    height: calc(100% - 60px);
    width: calc(100% - 100px);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(49, 47, 47);
}

button:hover{
    cursor: pointer;
}