.edit-user-modal{
    display: grid;
    position: fixed;
    top: 10%;
    left: 20%;
    height: 300px;
    width: 500px;
    z-index: 200;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 1fr 20px 1fr 60px;
    background-color: rgb(245, 223, 194);
    border-style: solid;
    border-width: 7px;
    border-radius: 20px;
    border-color: white;
    box-shadow: 3px 3px 3px 3px rgb(245, 223, 194);
}

.edit-username-input{
    grid-column: 1/3;
    grid-row: 2/3;
}
.edit-password-input{
    grid-column: 1/3;
    grid-row: 4/5;
}

.edit-username-input,
.edit-password-input {
    margin: 30px;
    overflow: auto;
    border-radius: 10px;
}

.edit-user-modal button{
    grid-row: 5/6;
}

.edit-user-modal label{
    margin-left: 30px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(49, 47, 47);
}

.password-label{
    grid-column: 1/2;
    grid-row: 3/4;
}