*{
    -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  html, body{
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
  }
  
  .login{
    position: relative;
    top: 50%;
      width: 250px;
    display: table;
    margin: -150px auto 0 auto;
    background: #fff;
    border-radius: 4px;
    z-index: 300;
  }
  
  .legend{
    position: relative;
    width: 100%;
    display: block;
    background: #FF7052;
    padding: 15px;
    color: #fff;
    font-size: 20px;
  }
  
  .input{
    position: relative;
    width: 90%;
    margin: 15px auto;
  }
  
  .submit{
    width: 45px;
    height: 45px;
    display: block;
    margin: 0 auto -15px auto;
    background: #fff;
    border-radius: 100%;
    border: 1px solid #FF7052;
    color: #FF7052;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 0px 0px 7px #fff;
    transition: 0.2s ease-out;
  }
  
  .feedback{
    position: absolute;
    bottom: -70px;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #2ecc71;
    padding: 10px 0;
    font-size: 12px;
    display: none;
    opacity: 0;
    
  }