.header {
    display: grid;
    position: sticky;
    justify-items: center;
    align-items: center;
    overflow: auto;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 50px;
    padding: 10px;
    max-height: 50px;
    z-index: 100;
    width: calc(100% - 20px);
    background-color: rgb(49, 47, 47);
    color:rgb(245, 223, 194);
    overflow: hidden;
}

.header-last-message-date{
    grid-column: 6/8;
}

.header > *{
    height: 100%;
    text-align: center;
}