li{
    display: grid;
    list-style-type: none;
    height: 60px;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    justify-items: center;
    align-items: center;
    color: rgb(49, 47, 47);
}

li button{
    margin-left: 10px;
    height: 40px;
    width: 70px;
    margin: 0;
    color: rgb(49, 47, 47);
    font-size: 20px;
    font-weight: bold;
}

.user-list-header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    height: 60px;
    justify-items: center;
    align-items: center;
    background-color: rgb(49, 47, 47);
    color:rgb(245, 223, 194);
}

.user-form-username-label{
    grid-column: 1/2;
}

.user-form-password-label{
    grid-column: 2/3;
}

.userList{
    display: grid;
    height: auto;
    max-height: 100vh;
    width: 800px;
    overflow: auto;
    justify-items: center;
    align-items: center;
    margin-left: 15%;
    margin-top: 10%;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(245, 223, 194);
}

.add-user-button,
.go-to-chat-button{
    margin: 10px;
    height: 30px;
    width: 80%;
}
.add-user-button{
    grid-column: 3/4;
}

.go-to-chat-button{
    grid-column: 4/5;
}

