.exception{
    display: none;
    position: fixed;
    height: 300px;
    width: 400px;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 70px;
    z-index: 500;
    background-color: white;
    margin-left: 35%;
    margin-top: 150px;
}

.exception div{
    color: red;
    padding: 20px;
    grid-column: 1/4;
}
.exception button{
    grid-row: 3/4;
    grid-column: 2/3;
}

.show-exception{
    display: grid;
}